@mixin center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    @content;
  }

@mixin align ($align: null, $justify: null) {
    align-items: $align;
    justify-content: $justify;
    @content;
}

@mixin weight ($weight, $color: null) {
    font-weight: $weight;
    color: $color;
    @content;
}

@mixin img-center ($top :null, $width: null) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: $top;
    max-width: $width;
    @content;
}

@mixin bg-themes($btn-themes) {
    @each $theme, $color in $btn-themes {
       .#{$theme} {
           background-color: $color;
        &:hover {
            background-color: lighten($color, 10%);
            }
        }
    }
}

@mixin col-themes($col-themes) {
    @each $theme, $color in $col-themes {
       .#{$theme} {
           background-color: $color;
        }
    }
}