/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
  }
  
  [class^=col] {
    margin-top: $gutter;
    flex-basis: 100%;
    min-height: 25px;
    padding: $gutter;
    border-radius: 5px;
  }
  
  @include col-themes($col-themes);
  
  .card {
    flex-basis: 100%;
  }